<%- include("partials/header") %>

<h1>This is the index page</h1>
<div class="container" style="margin-top: 100px; padding-left: 20%; border: 1px solid black;">
    <div class="row">

        <div class="col-10">
            <% blogs.forEach((blog) => { %>

                <div class="card mb-3">
                    <img src="<%= blog.image%>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= blog.name; %></h5>
                        <p class="card-text"><%= blog.body.substring(0,50); %> ...</p>
                        
                        <a href="/<%= blog._id %> " class="btn btn-info btn-block">Read More</a>                        
                        <p class="card-text"><small class="text-muted"><%= blog.dateCreated%></small></p>
                    </div>
                </div>
            
            <% }); %>

        </div>
    </div>
</div>
<%- include("partials/footer") %>